@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

body{
    margin: 0px;
    text-align: center;
    margin: auto;
}

.nav-bar{
    background-color: #FA1E0E;
    padding: 6rem;
    color:white;
    font-size: 4rem;
    font-family: 'Shojumaru', cursive;
}

.nav-bar img{
    border: 2px solid white;
}

.fav{
    background-color: #EEEEEE;
    padding: 2rem;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

.fav button{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    border: 1px solid #FA1E0E;
    color: #FA1E0E;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 2rem;
}

.fav button:hover{
    background-color: #FA1E0E;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.fav h1{
    font-size: 6rem;
    text-shadow: 2px 2px 2px #FA1E0E;
}

.fav img{
    height: 20rem;
    border: 3px solid #FA1E0E;
}

.fav p{
    font-size: 2rem;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    color: white;
    background-color: blueviolet;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #FA1E0E;
    font-size: 4rem;
    text-shadow: 2px 2px 2px black;
    text-decoration: underline;
}

.about{
    padding: 4rem;
    color: white;
    background-color: #FA1E0E;
    font-family: 'Montserrat', sans-serif;
}

.about h3{
    font-size: 3rem;
}

.about p{
    font-size: 1.5rem;
}
